<!DOCTYPE html>
<html>
	<head>
		<title>Template Widget Creator</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

		<!-- MAIN CREATOR APP -->
		<script src="creator.js"></script>
	</head>

	<body ng-app="creator" ng-controller="creatorCtrl">
		<header>
			{{widget.engineName}}
		</header>
		<div class="container">
			<h1>How to create your widget:</h1>
			<ol>
				<li>
					<p>
						First, give your widget a name:
					</p>
					<input type="text" ng-model="widget.title" placeholder="Widget name..." />
				</li>

				<li>
					<p>
						Then, click <b ng-if="!state.isEditingExistingWidget">Publish</b><b ng-if="state.isEditingExistingWidget">Update</b> at the top of the page.
					</p>
				</li>
			</ol>
		</div>
	</body>
</html>
